body {
    height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    margin-right: 10px;
}

.options-bar {
    width: max-content;
    margin: 0 auto;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

canvas {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}